*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1180px;
    margin: 0 auto;
    /* padding: 0px 10px; */
}


/* Banner Part Style */
#banner-part{
    width: 100%;
    background-color: #e554732e;
   
}
.banner-content{
    display: flex;
    opacity: 100%;
    justify-content: space-between;
    align-items: center;
}

.banner-des h1{
    color: black;
    opacity: 100%;
    font-size: 60px;
    padding-bottom: 25px;
}
.banner-des p{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.banner-des button{
    padding: 12px 18px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #E55473;
    color: white;
}

.banner-des button:hover{
    color: black;
    transition: 0.2s all ease-in-out;
}

.banner-pic{
    width: 45%;
}
.banner-pic img{
    width: 95%;
}

/* featured part style */

.featured-wrapper{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

.featured-title{
    padding: 20px 0px;
}

.featured-title h2{
    font-size: 36px;
    padding-bottom: 15px;
}

.featured-title p{
    color: black;
    opacity: 80%;
    font-size: 16px;
    line-height: 23px;
}

.flowers-items{
   width: 100%;
   display: flex;
}

.single-item{
    width: 33%;
    justify-content: space-evenly;
    align-items: center;
    
}
.single-item h4{
    text-decoration: underline;
    padding: 10px;
}

.single-item img{
    width: 65%;
    height: 300px;
    padding: 40px;
   /* background-color: #A72162; */
   border-radius: 48% 48% 0px 0px;
}

.one img{
    background-color: #a7216259;
}
.two img {
    background-color: #0597a040;
}
.three img {
    background-color: #477d114a;
}

/* Footer Style */
.flower-description{
    width: 100%;
    color: white;
    background-color: #111010;
    text-align: center;
}
.footer-content{
    padding: 35px 0px;
}
.footer-content span{
    color: #E55473;
}
.footer-content h2{
    font-size: 48px;
    padding-bottom: 30px;
}
.footer-content p{
    color: white;
    opacity: 90%;
    font-size: 15px;
    word-spacing: 2px;
    line-height: 23px;
    padding-bottom: 25px;
}
.copy-right{
    color: #FFFFFF;
    opacity: 40%;
    font-size: 15px;
}
.footer-menu{
    width: 100%;
    background-color: #E55473;
    padding: 25px 0px;
}
.menu-items{
    display: flex;
    justify-content: space-between;
}
.social, .short-link a{
    text-decoration: none;
    padding: 0px 10px;
}
.social a i{
    color: white;
    font-size: 19;
    padding: 0px 6px;
}
.short-link a{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.social a i:hover{
    color: black;
    transition: 0.s all ease-in-out;

}
.short-link, a:hover{
    color: black;
    transition: 0.s all ease-in-out;
}